<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>
       Todo app | {% block title %}{% endblock %}
    </title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p>Приложение "Todo list"</p>
        <div class="intro">
          {% block header %}
          {% endblock %}
        </div>
      </header>
      {% block content %}
      {% endblock %}
      {% for message in get_flashed_messages() %}
        <div class="flash">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    <footer>&copy; 2019 <a href="https://www.codewars.com/users/SpaSvm" target="_blank">SpaSvm</a></footer>
  </body>
</html>
