{% extends 'base.html' %}

{% block title %}
  Update task #{{ task['id'] }}
{% endblock %}

{% block header %}
  <p>Редактирование задачи</p>
{% endblock %}

{% block content %}
  <article class="content">
    <form class="" method="post">
      <label for="body">Задача #{{ task['id'] }}</label>
      <br>
      <textarea name="body" maxlength="500" placeholder="Не более 500 символов" id="body" rows="6">{{ request.form['body'] or task['body'] }}</textarea>
      <input class="save" type="submit" value="Сохранить">
      <input class="reset" type="reset" name="reset" value="Отменить изменения">
    </form>
    <form action="{{ url_for('index') }}">
      <button class="back" type="submit">Вернуться к списку задач</button>
    </form>
  </article>
{% endblock %}
